*.Rproj
*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
Manuscript/creosote_SIPM_EcologicalMonographs_submission2.pdf
Manuscript/creosote_SIPM_EcologicalMonographs_submission2.tex
