*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata

*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.tex
*.xlsx
*.pdf
Manuscript/creosote_SIPM_ms.pdf
Manuscript/figure/transect_resurv-1.pdf
Manuscript/figure/transect_resurv-1.pdf
Manuscript/figure/transect_resurv-1.pdf
Manuscript/creosote_SIPM_ms.pdf
Manuscript/figure/transect_resurv-1.pdf
Manuscript/creosote_SIPM_ms.pdf
1000seeds.csv
